@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
